@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

.portfolioContainer {
    background-color: rgba(255, 255, 255, 0.849);
    width: 100%;
    margin-top: 500px; 
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.portfolioTitleContainer {
    display: flex;
    justify-content: center;
    font-family: 'Lobster';
    font-size: 40px;
    margin-top: -50px;
}

.projectsContainer {
    display: flex;
    justify-content: center;
}

.project {
    border: 2px solid black;
    height: 350px;
    width: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
    margin-right: 10px;
    padding: 10px;
}

.tempText {
    font-size: 30px;
    margin-bottom: 150px;
    font-family: 'Cabin';
}

.repoLogo {
    height: 40px;
}