@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

.portfolioContainer {
    background-color: rgba(255, 255, 255, 0.849);
    width: 100%;
    margin-top: 500px; 
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.portfolioTitleContainer {
    display: flex;
    justify-content: center;
    font-family: 'Lobster';
    font-size: 45px;
    margin-top: -50px;
}

.twoProjectsContainer {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.projectsContainer {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.project1Image {
    border: 2px solid black;
    width: 650px;
    height: 400px;
    background-image: url('../../Images/WayPointHomesHome-min.png');
    background-size: 650px 400px;
    background-repeat: no-repeat; 
    margin-left: 25px;
}

.project2Image {
    border: 2px solid black;
    width: 650px;
    height: 400px;
    background-image: url('../../Images/discoverWI-min.png');
    background-size: 650px 400px;
    background-repeat: no-repeat; 
    margin-left: 25px;
}

.project3Image {
    border: 2px solid black;
    width: 650px;
    height: 400px;
    background-image: url('../../Images/hideoutPic-min.png');
    background-size: 650px 400px;
    background-repeat: no-repeat; 
    margin-left: 25px;
}

.project4Image {
    border: 2px solid black;
    width: 650px;
    height: 400px;
    background-image: url('../../Images/shakeupfitness.png');
    background-size: 650px 400px;
    background-repeat: no-repeat; 
    margin-left: 25px;
}

.project1Image:hover {
    color: yellow;
}

.project {
    border: 2px solid black;
    height: 450px;
    width: 650px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tempText {
    font-size: 30px;
    margin-top: 225px;
    font-family: 'Cabin';
}

.repoLogo {
    height: 40px;
}


.aboutMeContainer {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

.aboutMeText {
    font-family: 'Cabin';
    font-size: 30px;
    margin-left: 30px;
}