@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

.about {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.aboutContainer {
    background-color: rgba(255, 255, 255, 0.849);
    color: #000000;
    font-size: 21px;
    width: 100%;
    margin-top: 50vh;
    font-family: 'Cabin';
    padding: 40px;
    display: flex;
    justify-content: center;
}

.aboutMeTitleContainer {
    display: flex;
    justify-content: center;
    font-family: 'Lobster';
    font-size: 40px;
}

.aboutMeText {
    width: 70%;
}