@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');


.socialMediaContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.githubLogo {
    margin-right: 3px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Cabin';
    margin-top: 5px;
}