@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

.App {
	width: 100%;
}

body {
	background-image: url('./Images/nature.png');
	min-height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    -webkit-backgound-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	width: 100%;
}